{% extends "admin/base_site.html" %}
{% load i18n static jazzmin %}
{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content_title %}
{% endblock %}

{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block content %}
<div class="row" id="mainContent">
</div>
<script>
    const list_UUID = [];

    //var url = 'wss://falling-detection.herokuapp.com/ws/sensor/'
    var url = 'ws://127.0.0.1:8000/ws/sensor/'

    var socket = new WebSocket(url);

    socket.onopen = function (e) {
      console.log('socket connected')
    }

    socket.onmessage = function (e) {
      var data = JSON.parse(e.data);
      console.log(data);
      if (data.data) {
        addData(data.data);
        // increaseProgress(data.data.total, data.data.current_total);
      }
    }

    socket.onclose = function (e) {
      console.log('socket disconnected')
    }

    function addData(data) {
      var uuid = data['device']['uuid'];
      if(!list_UUID.includes(uuid)){
        list_UUID.push(uuid);
        var col = `
            <div class="col-lg-6"  >
              <div class="card" id="`+uuid+`" style="min-width: 550px;">
              </div>
            </div>
        `
        document.getElementById('mainContent').innerHTML += col;
        console.log(col);
      }
      var fullname = data.device.patient.patient_info['last_name'] +" "+ data.device.patient.patient_info['first_name'];
      var acc = data['acceleration'];
      var gyr = data['gyroscope'];
      var rot = data['rotation'];
      var html = `
        <div class="card-body">
          <div class="row">
              <div class="col-md-6">
                  <div class="col-md-12 form-group">
                    <div class="table-row">
                      <label>Họ tên:</label>
                      <text class="font-italic">${fullname}</text>
                    </div> 
                  </div>
      
                  <div class="col-md-12 form-group">
                    <div class="table-row">
                      <label>Địa chỉ:</label>
                      <text class="font-italic d-inline-block text-truncate"  style="max-width: 150px; vertical-align: top;">
                        ${data.device.patient.patient_info.share_address['address']}
                      </text>
                    </div> 
                  </div>
      
                  <div class="col-md-12 form-group">
                    <div class="table-row">
                      <label>Trạng thái:</label>
                      <text class="font-italic">Normal position</text>
                    </div> 
                  </div>
              </div>
      
              <div class="col-md-6">
                <div class="col-md-12 form-group">
                  <div class="table-row">
                    <label>UUID:</label>
                    <text class="font-italic d-inline-block text-truncate"  style="max-width: 150px; vertical-align: top;">
                      ${data.device['uuid']}           
                    </text>
                  </div> 
                </div>
      
                <div class="col-md-12 form-group">
                  <div class="table-row">
                    <label>Touch status:</label>
                    <text class="font-italic d-inline-block text-truncate"  style="max-width: 100px; vertical-align: top;">
                      ${data.touch_status['status_name']}
                    </text>
                  </div> 
                </div>
      
                <div class="col-md-12 form-group">
                  <div class="table-row">
                    <label>Vị trí:</label>
                    <text class="font-italic">Normal position</text>
                  </div> 
                </div>
            </div>
          </div> 
          <div class="row">
            <div class="col-9">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Sensor</th>
                    <th scope="col">ValueX</th>
                    <th scope="col">ValueY</th>
                    <th scope="col">ValueZ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Acceleration</td>
                    <td><code>${acc.valueX.toFixed(2)}</code></td>
                    <td><code>${acc.valueY.toFixed(2)}</code></td>
                    <td><code>${acc.valueZ.toFixed(2)}</code></td>
                  </tr>
                  <tr>
                    <td>Gyroscope</td>
                    <td><code>${gyr.valueX.toFixed(2)}</code></td>
                    <td><code>${gyr.valueY.toFixed(2)}</code></td>
                    <td><code>${gyr.valueZ.toFixed(2)}</code></td>
                  </tr>
                  <tr>
                    <td>Ratation</td>
                    <td><code>${rot.rotationZ.toFixed(2)}</code></td>
                    <td><code>${rot.rotationZ.toFixed(2)}</code></td>
                    <td><code>${rot.rotationZ.toFixed(2)}</code></td>
                  </tr>
                </tbody>
              </table>
              <div class="form-group">
                <div class="table-row">
                  <label>Ghi chú:</label>
                  <text class="font-italic d-inline-block"  style="vertical-align: top;">
                      dia chi sieu dai dia chi sieu dai dia chi sieu dai dia chi sieu dai dia chi sieu dai 
                  </text>
                </div> 
              </div>
            </div>
            <div class="col-3">
              <img style='height: 100%; width: 100%;
                          object-fit: contain'
                   class="rounded rounded-3"
                   src="${data.device["crutch"]}"></img>
            </div>
          </div>
        </div>
       `
      document.getElementById(uuid).innerHTML = html;  //add content
    }

    document.getElementById('content').innerHTML+='</div></div>';
  </script>
<script async src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
    crossorigin="anonymous"></script>
{% endblock %}